<ion-view view-title="Hushtags">
    <ion-content class="padding">
        <div class="list">

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search (just start typing)" ng-model="query">
                </label>
            </div>

            <a ng-repeat="ht in hushtags | filter:query | orderBy:'name'" class="item" href="#">
                {{ht.name}}
            </a>

            <!--<div class="item item-divider">-->
                <!--A-->
            <!--</div>-->


            <!--<div class="item item-divider">-->
                <!--C-->
            <!--</div>-->

        </div>
    </ion-content>
</ion-view>