<ion-view view-title="Locations">
  <ion-content>
    <div class="card">
      <div class="item item-avatar">
        <img src="img/100px.png">

        <h2>Locations under construction</h2>

        <p class="subdued">(some hrs ago)</p>
      </div>

      <div class="item item-full no-top-pad">
        <p>
          This page will be built soon. In the meantime the app is already aware of locations and you can use different existing locations when creating a new event. This page will grant you the ability to create new locations and view popular ones.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
