<div class="card comment-create">
    <div class="item card-background" ng-hide="showCommentBox" ng-click="loadCommentBox()">
        <label class="item item-input item-floating-label">
            <span>Write Comment</span>
        </label>
    </div>
    <div class="item card-background" ng-show="showCommentBox">
        <form ng-submit="sendComment()">
            <label class="item item-input">
            <textarea
                    id="comment-create-box"
                    ng-model="newComment.content"
                    msd-elastic
                    class="elastic"
                    placeholder="enter comment"
                    autofocus
            >
            </textarea>
            </label>

            <div class="comment-send-button">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!newComment.content || newComment.content === ''">
                </button>
            </div>
        </form>
    </div>
</div>