<ion-view view-title="{{obj.hushtagResolved.name}} Story">
    <ion-content>
        <div class="list">
            <div class="item">
                Taken
                <span class="item-note">
                    {{ obj.created | amCalendar }}
                    <span ng-show="obj.eventResolved">
                        @ {{obj.eventResolved.name}}
                        ({{obj.eventResolved.getLocationString()}})
                    </span>
                </span>
            </div>
            <div class="item">
                By
                <span class="item-note">
                    {{ obj.ownerResolved.name || "anon" }}
                </span>
            </div>
            <div class="item" ng-show="obj.pics.length > 0">
                <ion-scroll direction="x">
                    <img ng-repeat="pic in obj.pics"
                         ng-src="{{pic}}"
                         ng-click="showImages($index)"
                         class="image-list-thumb"/>
                </ion-scroll>
            </div>
            <div class="item">
                Dosage
                <span class="item-note">
                    {{obj.dosage}}
                </span>
            </div>
            <div class="item">
                Effects (good)
                <span class="item-note">
                    {{obj.effect_positive}}
                </span>
            </div>
            <div class="item">
                Effects (bad)
                <span class="item-note">
                    {{obj.effect_negative}}
                </span>
            </div>
            <div class="item">
                Effect duration
                <span class="item-note">
                    {{obj.effect_duration}}
                </span>
            </div>
        </div>
        <comment-create for="story"></comment-create>
        <comments-list></comments-list>
    </ion-content>
</ion-view>