<ion-view view-title="Profile">
    <ion-nav-buttons side="secondary">
        <button class="button" ng-show="login.isLoggedIn()" ng-click="login.logout()">Logout</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div ng-show="!login.isLoggedIn()">
            <h1>Log in / Sign up</h1>

            <h3>(if you want to gain rep)</h3>
            <br>

            <form ng-submit="sendLogin()">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Username</span>
                        <input type="text" ng-model="loginData.username">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="loginData.password">
                    </label>
                    <button class="button button-block button-energized" type="submit">Log in</button>
                    <button class="button button-block button-royal" type="button" ng-click="sendSignup()">Sign up</button>
                </div>
            </form>
        </div>

        <div ng-show="login.isLoggedIn()">
            <div class="list card">
                <div class="item item-avatar">
                    <img ng-src="{{login.getUserAvatar()}}">
                    <h2>{{login.user.name}}</h2>
                    <p>member since: {{login.user.created | amCalendar}}</p>
                </div>

                <div class="item item-body">
                    <p>
                        TODO: insert user info here
                        <br>
                        {{login.user.rep|json}}
                    </p>
                </div>


            </div>
        </div>
    </ion-content>
</ion-view>
