<ion-view view-title="{{hushtag.name}}">
    <ion-nav-title>
        {{hushtag.name}}
    </ion-nav-title>
    <button
            class="button button-fab button-energized icon ion-edit button-fab-bottom-right"
            go-click="/app/home/hushtags/{{hushtag.id}}/edit"
            ng-show="canEdit()">
    </button>
    <ion-content class="">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="mid-bar dark-bg z1 padding">
            <h3><a class="light">{{hushtag.name}}</a></h3>

            <p>family:
                <span ng-if="hushtag.family.length == 0"> --- </span>
                <span ng-if="hushtag.family.length > 0"
                      ng-repeat="member in hushtag.familyResolved">
                    {{member.name}}{{$last ? '' : ', '}}
                </span>
            </p>

            <p>also known as: {{hushtag.synonyms.sort().join(', ')}}</p>

        </div>

        <div class="list">
            <div class="item">
                <ion-scroll direction="x">
                    <img ng-repeat="pic in hushtag.pics"
                         ng-src="{{pic}}"
                         ng-click="showImages($index)"
                         class="image-list-thumb"/>
                </ion-scroll>
            </div>

            <hushtag-info-box for="description"></hushtag-info-box>
            <hushtag-info-box for="forms"></hushtag-info-box>
            <hushtag-info-box for="dosages"></hushtag-info-box>
            <hushtag-info-box for="safety"></hushtag-info-box>
            <hushtag-info-box for="legality"></hushtag-info-box>

        </div>

        <div class="padding">
            <h3>Comments</h3>
            <div class="ĺist">
                <div class="item" ng-repeat="comment in event.commentsResolved">
                    <p>
                        <span class="fat">{{comment.ownerResolved.name||comment.owner}}:</span>
                        <span>{{comment.content}}</span>
                    </p>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>