<ion-view view-title="Hushtags">
    <button
            class="button button-energized button-fab button-fab-bottom-right hide"
            go-click="/app/home/hushtags/create"
            button-hide="hushtags">
        <i class="icon ion-plus"></i>
    </button>
    <ion-content class="padding">
        <div class="list">
            <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search (just start typing)" ng-model="query">
                </label>
            </div>

            <a ng-repeat="ht in hushtags | filter:query | orderBy:'name'" class="item" href="#">
                {{ht.name}}
            </a>

            <!--TODO: add custom repeater directive to add those separators in between elements-->
            <!--<div class="item item-divider">-->
                <!--A-->
            <!--</div>-->


            <!--<div class="item item-divider">-->
                <!--C-->
            <!--</div>-->

        </div>
    </ion-content>
</ion-view>