<ion-view view-title="{{obj.name}}">
    <ion-nav-title>
        {{obj.name}}
    </ion-nav-title>
    <button
            class="button button-fab button-energized icon ion-edit button-fab-bottom-right"
            go-click="/app/home/hushtags/{{obj.id}}/edit"
            ng-show="canEdit()">
    </button>
    <ion-content class="">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>

        <div class="mid-bar dark-bg z1 padding">
            <h3><a class="light">{{obj.name}}</a></h3>

            <p>family:
                <span ng-if="obj.family.length == 0"> --- </span>
                <span ng-if="obj.family.length > 0"
                      ng-repeat="member in obj.familyResolved">
                    {{member.name}}{{$last ? '' : ', '}}
                </span>
            </p>

            <p>also known as: {{obj.synonyms.sort().join(', ')}}</p>

        </div>

        <div class="list">
            <div class="item">
                <ion-scroll direction="x">
                    <img ng-repeat="pic in obj.pics"
                         ng-src="{{pic}}"
                         ng-click="showImages($index)"
                         class="image-list-thumb"/>
                </ion-scroll>
            </div>

            <a class="item" href="#/app/home/stories/{{obj.id}}">
                Stories&nbsp;
                <i class="icon ion-arrow-right-b"></i>
                <span class="badge badge-royal">{{obj.stories.length}}</span>
            </a>

            <hushtag-info-box for="description"></hushtag-info-box>
            <hushtag-info-box for="forms"></hushtag-info-box>
            <hushtag-info-box for="dosages"></hushtag-info-box>
            <hushtag-info-box for="safety"></hushtag-info-box>
            <hushtag-info-box for="legality"></hushtag-info-box>

        </div>

        <div class="padding">
            <comment-create for="hushtag"></comment-create>
            <comments-list></comments-list>
        </div>


    </ion-content>
</ion-view>