<ion-view view-title="Hushtags">
    <button
            class="button button-energized button-fab button-fab-bottom-right hide"
            go-click="/app/home/hushtags/create"
            button-hide="hushtags">
        <i class="icon ion-plus"></i>
    </button>
    <ion-content class="padding">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
        <div class="list">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search (just start typing)" ng-model="query">
                </label>
            </div>

            <div ng-repeat="ht in hushtags | filter:query">
                <div class="item item-divider item-divider-bordered" ng-if="firstLetter(ht.name) != firstLetter(hushtags[$index-1].name)">
                    {{firstLetter(ht.name)}}
                </div>
                <a class="item"
                   href="#/app/home/hushtags/{{ht.id}}">
                    {{ht.name}}
                    <span class="badge badge-royal">{{ht.stories.length}}</span>
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>