<ion-view view-title="{{event.name}}">
    <ion-nav-title>
        {{event.name}}
    </ion-nav-title>
    <button
            class="button button-fab button-energized icon ion-edit button-fab-bottom-right"
            go-click="/app/home/events/{{event.id}}/edit"
            ng-show="canEdit()">
    </button>
    <ion-content class="">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="hero" style="{{getHeroStyle()}}">
            <div class="content">
                <!--<h4>dragon_mommy</h4>-->
            </div>
        </div>
        <div class="mid-bar dark-bg z1 padding">
            <h3><a class="light">{{event.name}}</a></h3>

            <p>{{starts_text}} {{ event.start | amCalendar }}</p>

            <p>{{event.getLocationString()}}</p>
        </div>
        <div class="list">
            <!--<div class="item item-icon-left">-->
            <!--<i class="icon ion-clock"></i>-->
            <!-- -->
            <!--</div>-->

            <div class="item">
                <ion-scroll direction="x">
                    <img ng-repeat="pic in event.pics"
                         ng-src="{{pic}}"
                         ng-click="showImages($index)"
                         class="image-list-thumb"/>
                </ion-scroll>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-information"></i>
                {{event.description || "no description provided"}}
            </div>

            <vote-info on="event"></vote-info>
        </div>
        <comments-list for="event"></comments-list>
    </ion-content>
</ion-view>