<ion-view view-title="{{event.name}}">
    <ion-nav-title>
        {{event.name}}
    </ion-nav-title>
    <ion-content>
        <div class="list">

            <!--<div class="item">-->
                <!--<pre>-->
                    <!--{{event|json}}-->
                <!--</pre>-->
            <!--</div>-->

            <div class="item item-icon-left">
                <i class="icon ion-clock"></i>
                {{starts_text}} {{ event.start | amCalendar }}
            </div>

            <div class="item pics">
                <ion-scroll direction="x">
                    <img ng-repeat="pic in event.pics"
                         ng-src="{{pic}}"
                         ng-click="showImages($index)"
                         class="image-list-thumb"/>
                </ion-scroll>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-location"></i>
                {{event.locationResolved.name || "no description provided"}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-information"></i>
                {{event.description || "no description provided"}}
            </div>


            <!--<a class="item item-icon-left" href="#">-->
                <!--<i class="icon ion-mic-a"></i>-->
                <!--Record album-->
                <!--<span class="item-note">-->
                  <!--Grammy-->
                <!--</span>-->
            <!--</a>-->

            <!--<a class="item item-icon-left" href="#">-->
                <!--<i class="icon ion-person-stalker"></i>-->
                <!--Friends-->
                <!--<span class="badge badge-assertive">0</span>-->
            <!--</a>-->

        </div>
    </ion-content>
</ion-view>